@use '../styles/colors';
@use '../styles/mixins';

.apartment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;

    .apartment-info_container {
        margin: 3rem 0 1rem 0;
        position: relative;
        width: 90vw;
        @include mixins.space-between;
    }
}