@use './styles/colors';
@use './styles/mixins';

.banner {
    @include mixins.center;
    margin: 5rem 0 7rem 0;
    height: 7rem;

    .banner-image {
        @include mixins.center;
        position: absolute;
        border-radius: 25px;
        object-fit: cover;
        object-position: center;
        z-index: 1;
        height: 12rem;
        width: 85vw;
        margin-left: 0%;
    }

    .banner-background {
        @include mixins.center;
        position: absolute;
        width: 85vw;
        height: 12rem;
        background-color: colors.$black;
        opacity: 0.5;
        z-index: 2;
        border-radius: 25px;
    }

    .banner-title {
        @include mixins.center;
        width: 85vw;
        color: colors.$white;
        z-index: 3;
        font-family: "Montserrat", sans-serif;
        font-size: 48px;
        font-weight: 700;
        text-align: center;

        text-shadow:
            /* 4 ombres pour simuler le contour de 1px */
            -1px -1px 0 colors.$black,
             1px -1px 0 colors.$black,
            -1px  1px 0 colors.$black,
             1px  1px 0 colors.$black,
             0 4px 8px rgba(0, 0, 0, 0.7);
    }
}