@use './styles/colors';
@use './styles/mixins';

.collapse-container_apropos {
    @include mixins.center-column;
    width: 100vw;
    overflow: hidden;
    transition: max-height 1s ease-out;

    .collapse {
        width: 100vw;
        margin-bottom: 2rem;
        max-width: 70vw;
        cursor: pointer;
        max-height: 300px;

        .collapse-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            width: 100%;
            background-color: colors.$primary;
            color: colors.$white;
            height: 3.38rem;
            padding: 10px 20px 10px 15px;
            border-radius: 5px;
            z-index: 1;
            transition: border-radius 0.1s ease-out 0.2s;

            h2 {
                margin: 0;
                font-size: 1.5rem;
            }

            .arrow-back {
                width: 1.5rem;
                height: 0.8rem;
                cursor: pointer;
                transition: transform 0.3s ease-in-out;

                &--rotated {
                    transform: rotate(-180deg);
                }
            }
        }

        .collapse-body {
            color: colors.$primary;
            border-radius: 0 0 5px 5px;
            background-color: colors.$background;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            max-height: 0;

            &--open {
                max-height: 300px;
            }

            p {
                margin: 0;
                color: colors.$black;
                font-weight: 500;
                padding: 10px 20px 10px 15px;
                font-size: 1.13rem;
                line-height: 25.67px;
            }
        }

        &:has(.collapse-body--open) {
            .collapse-header {
                border-radius: 5px;
            }
        }
    }
}

.collapse-container_apartment {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    width: 90vw;

    .collapse {
        width: 40vw;

        .collapse-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            width: 100%;
            background-color: colors.$primary;
            color: colors.$white;
            height: 3.38rem;
            padding: 10px 20px 10px 15px;
            border-radius: 10px;
            z-index: 1;
            cursor: pointer;
            transition: border-radius 0.1s ease-out 0.2s;

            h2 {
                margin: 0;
                font-size: 1.2rem;
                font-weight:600;
            }

            .arrow-back {
                width: 1.5rem;
                height: 0.8rem;
                transition: transform 0.3s ease-in-out;

                &--rotated {
                    transform: rotate(-180deg);
                }
            }
        }

        .collapse-body {
            color: colors.$primary;
            border-radius: 0 0 5px 5px;
            background-color: colors.$background;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            max-height: 0;

            &--open {
                max-height: 300px;
            }

            p {
                margin: 0;
                color: colors.$black;
                font-weight: 400;
                padding: 10px 20px 10px 15px;
                font-size: 1.13rem;
                line-height: 25.67px;
            }
        }

        &:has(.collapse-body--open) {
            .collapse-header {
                border-radius: 5px;
            }
        }
    }
}
