@use './styles/colors';
@use './styles/mixins';

.error-section {
    @include mixins.center-column;

    .error-number {
        color: colors.$primary;
        font-size: 18rem;
        font-weight: 700;
        margin: 4rem 0 0 0;
    }

    .error-text {
        color: colors.$primary;
        font-size: 36px;

    }

    .error-back_home {
        color: colors.$black;
        font-size: 18px;
        margin: 7rem 0;
    }

}