@use './styles/colors';
@use './styles/mixins';

footer {
  max-height: 13rem;
  background-color: colors.$black;
  color: colors.$white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4vh;
  margin-top: 2rem;


  .logo-footer {
    width: 7rem;
    height: 3rem;
    margin-bottom: 3vh;
  }

  .footer-rights {
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    font-size: 2vh;
  }
}