@use"./styles_pages/appartements.scss";
@use"./styles_pages/apropos.scss";
@use "./styles_pages/home.scss";
@use "./app.scss";
@use "./banner.scss";
@use "./card.scss";
@use "./collapse.scss";
@use "./error.scss";
@use "./footer.scss";
@use "./header.scss";
@use "./host.scss";
@use "./responsive.scss";
@use "./rate.scss";
@use "./location.scss";
@use "./slideshow.scss";
@use "./styles/general.scss";